In [3]:
import pandas as pd
import numpy as np

## <font color='5499C7'>Question 1: Version of Pandas</font>

In [4]:
pd.__version__

'1.5.3'

In [6]:
df = pd.read_csv('/content/master_housing.csv')

## <font color='5499C7'>Question 2: Number of columns in the dataset</font>

In [8]:
len(df.columns)

10

## <font color='5499C7'>Question 3: Select columns with missing data</font>

In [10]:
df.columns[df.isna().any()].tolist()

['total_bedrooms']

## <font color='5499C7'>Question 4: Number of unique values in the 'ocean_proximity' column</font>

In [11]:
df['ocean_proximity'].unique()

array(['NEAR BAY', '<1H OCEAN', 'INLAND', 'NEAR OCEAN', 'ISLAND'],
      dtype=object)

In [12]:
df['ocean_proximity'].nunique()

5

## <font color='5499C7'>Question 5: Average value of the 'median_house_value' for the houses near the bay</font>

In [15]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [16]:
# first select only houses near the bay
df [df['ocean_proximity']=='NEAR BAY']['median_house_value'].mean()

259212.31179039303

## <font color='5499C7'>Question 6: Has the mean value changed after filling missing values?</font>



*   Calculate the average of total_bedrooms column in the dataset.
*   Use the fillna method to fill the missing values in total_bedrooms with the mean value from the previous step.
*   calculate the average of total_bedrooms again.
*   Has it changed?

In [19]:
avg = df['total_bedrooms'].mean()
avg

537.8705525375618

In [20]:
df['total_bedrooms'] = df['total_bedrooms'].fillna(avg)

In [21]:
df['total_bedrooms'].mean()

537.8705525375617

## <font color='5499C7'>Question 7 </font>


1.   Select all the options located on islands.
2.   Select only columns housing_median_age, total_rooms, total_bedrooms.
3.   Get the underlying NumPy array. Let's call it X.
4.   Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
5.   Compute the inverse of XTX.
6.   Create an array y with values [950, 1300, 800, 1000, 1300].
7.   Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
8.   What's the value of the last element of w?

In [25]:
df_island = df [df['ocean_proximity']=='ISLAND']
df_island =df_island[['housing_median_age', 'total_rooms', 'total_bedrooms']]

In [29]:
# Get the underlying NumPy array Let's call it X.
X = df_island.values

In [30]:
# Compute the transpose of X
X_transpose = X.T

In [31]:
# Compute XTX
XTX = X_transpose @ X

In [32]:
# Compute the inverse of XTX
XTX_inverse = np.linalg.inv(XTX)
XTX_inverse

array([[ 9.19403586e-04, -3.66412216e-05,  5.43072261e-05],
       [-3.66412216e-05,  8.23303633e-06, -2.77534485e-05],
       [ 5.43072261e-05, -2.77534485e-05,  1.00891325e-04]])

In [33]:
y = np.array( [950, 1300, 800, 1000, 1300])

In [34]:
w = (XTX_inverse @ X_transpose) @ y

In [36]:
w[-1]

5.699229455065586